h1= title
h5 Select a red note from the list below.
br
ul.rednotes
    - each redNote in redNotes
        li.rednote
            a(href="/")
                span= redNote.Name
            &nbsp;
            span= redNote.Mood
            &nbsp;
            span= redNote.SubMood
            &nbsp;
            span= redNote.Genre
